<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Заявка отправлена успешно">
    <link rel="icon" href="/images/icon.ico">
    <link rel="stylesheet" href="/css/successPage.css">
    <title>MultiFriend</title>
</head>
<body>
<header class="header">
    <div class="container header-content">
        <img src="/images/logo.png" class="logo" alt="логотип">

        <div class="header-text">
            <h1>Multi<span>Friend</span></h1>
            <p>Ваш надежный помощник в обслуживании частного дома и участка</p>
        </div>
    </div>
</header>
<main>
    <div class="successBlock">
        <h2>Заявка отправлена!</h2>
        <a href="index.html"><button type="button">Вернуться на главную страницу</button></a>
    </div>
</main>
</body>
</html>